*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);
    font-family: "Space Mono", monospace;
}

:root{
    --bg-color: #000080;
    --project-selected : #42427c;
    --bold-text: #ffffff;
    --task-title-text: #e3e3e3;
    --normal-text: #cecece;
    --high: red;;
    --medium: orange;
    --low: yellow;
}

h1{
    display: inline-flexbox;
    justify-self: center;
    font-weight: 700;
    font-size: 5rem;
    color: var(--bold-text);
}

h1:hover{
    font-size: 5.2rem;
    font-weight: 900;
}

#userInput{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    gap: 0.5em;
}

#userInput > form > input,
#userInput > form > button,
#deleteAll{
    border: 0.2rem solid white;
    padding: 0.2em;
    font-size: 1rem;
}

#userInput > form >input{
    background-color: rgb(18, 0, 71);
    color: white;
}

#userInput > form >input::placeholder{
    color: white;
}

#userInput > form > button{
    background-color: rgb(21, 255, 0);
}

#userInput > form button:hover,
#deleteAll:hover{
    font-size: 1.05rem;
    font-weight: 600;
}

#userInput > form button:active,
#deleteAll:active{
    font-size: 0.95rem;
}


#userInput > form > button:hover{
    background-color: rgb(18, 212, 1);
}

#userInput > form > button:active{
    background-color: rgb(15, 177, 0);
}

#deleteAll{
    background-color: red;
    font-weight: bolder;
}

#deleteAll:hover{
    background-color: rgb(255, 87, 87);
}

#deleteAll:active{
    background-color: rgb(117, 0, 0);
}

#content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

#projectContainer{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    user-select: none;
    color: var(--bold-text);
}

#projectContainer .project{
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: white;
}

#projectContainer .project:hover > button:first-of-type{
    color: gray;
    text-decoration: underline gray;
}

#projectContainer .project.current,
#projectContainer .project.current > *{
    background-color: var(--project-selected);
}

#projectContainer .project .delete{
    font-family: Arial, Helvetica, sans-serif;
    width: 1.74em;
    height: 1.74em;
    border: none;
    border-radius: 0.2rem;
    background-color: red;
    font-size: 1rem;
    font-weight: bolder;
}

#projectContainer .project .delete:hover{
    background-color: rgb(255, 87, 87);
}

#projectContainer .project .delete:active,
#deleteAll:active{
    background-color: rgb(117, 0, 0);
}

#projectContainer .project > button:first-of-type:active{
    color: rgb(52, 52, 52);
    text-decoration: underline rgb(52, 52, 52);
}

#projectContainer .project > button:first-of-type{
    border: none;
    color: var(--bold-text);
    font-size: 2rem;
    font-weight: bold
}

#projectContainer .project > button:first-of-type:hover{
    transform: rotate(2deg);
    color: #a9a8a8;
}

#projectContainer .project > button:first-of-type:active{
    color: #5f5f5f;
}

.project img{
    width: 2rem;
    height: auto;
}

.project img:hover{
    width: 2.2rem;
    height: auto;
}

#taskContainer{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    color: var(--normal-text);
    gap: 0.7em;
}

#emptyMessage{
    display: flex;
    font-weight: bolder;
    color: var(--bold-text);
    font-size: 2.8em;
}

#taskContainer > div{
    border: 4px solid var(--normal-text);
    border-radius: 1rem;
    padding: 0.5em; 
}

.task{
    display: flex;
    justify-content: space-between;
}

.task .infoDiv{
    justify-self: flex-start;
}

.task .taskInput{
    display: flex;
}

.task .taskInput .complete{
    margin: 1em;
    width: 2.25em;
    height: 2.25em;
    border: 0.2em solid var(--normal-text);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
}

.task .taskInput .complete:hover{
    background-color: #005380;
}

.task .taskInput .delete{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
    width: 2.25em;
    height: 2.25em;
    border: none;
    border-radius: 0.2rem;
    background-color: red;
    font-size: 1rem;
    font-weight: bolder;
}

.task h2{
    display: inline-flex;
    color: var(--task-title-text);
}

.task h2:hover{
    text-decoration: underline;
}

.task .dateFlexContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.task .dateFlexContainer .date{
    font-size: 1.2rem;
}

.task .high,
.task .medium,
.task .low{
    border: none;
    font-size: 1.3em;
}

.task .high,
.task .dateFlexContainer > .high + .date{
    color: var(--high);
}

.task .high:hover{
    background-color: rgb(255, 129, 129);
}

.task .medium,
.task .dateFlexContainer > .medium + .date{
    color: var(--medium);
}

.task .medium:hover{
    background-color: rgb(255, 182, 129); 
}

.task .low,
.task .dateFlexContainer > .low + .date{
    color: var(--low);
}

.task .low:hover{
    background-color: rgb(253, 255, 129);
}

.task .high:hover,
.task .medium:hover,
.task .low:hover{
    color: black;
    border-radius: 5px;
}

.task .description{
    font-size: 1.25rem;
    color: white;
}

.task.true h2{
    text-decoration: solid line-through 0.4rem;
}

.task.true p,
.task.true > .infoDiv button {
    text-decoration: solid line-through 0.4rem;
}

.task.true h2{
    text-decoration-color: var(--task-title-text);
}

#taskDialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 1em;
    border: none;
    background-color: gray;
}

#taskDialog form table{
    background-color: gray;
}

#taskDialog input,
#taskDialog select{
    margin: 0.25em;
    font-size: 1.5rem;
    border: 0.1em solid var(--normal-text);
    color: white;
    font-weight: bold;
    container-type: inline;
    padding: 0.2em;
    background-color: gray;
}

#taskDialog select option{
    background-color: gray;
}

#taskDialog form table tr{
    border: none;
}

#taskDialog form table tr,
#taskDialog form table tr td{
    background-color: gray;
}

#taskDialog input::placeholder{
    font-weight: normal;
    color: white;
}

#taskDialog button{
    background-color: rgb(21, 255, 0);
    padding: 0.2em;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.2em;
}

#taskDialog  button:hover{
    background-color: rgb(18, 212, 1);
    padding: 0.3rem;
}

#taskDialog button:active{
    background-color: rgb(15, 177, 0);
    padding: 0.2rem;
}

#resetDialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    border: none;
    padding: 1em;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

#resetPopup p{
    font-size: 2rem;
}

#resetButtons{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

#resetDialog form,
#resetPopup p{
    background-color: black;
}

#cancelResetButton,
#submitResetButton{
    color: white;
    font-weight: bold;
    padding: 1em;
    font-size: 1rem;
    border-radius: 0.5em;
    border: none;
}

#cancelResetButton{
    background-color: gray;
}

#cancelResetButton:hover{
    background-color: rgb(79, 79, 79);
}

#cancelResetButton:active{
    background-color: rgb(150, 150, 150);
}

#submitResetButton{
    background-color: red;
}

#submitResetButton:hover{
    background-color: rgb(255, 87, 87);
}

#submitResetButton:active{
    background-color:rgb(117, 0, 0);
}

#resetAll{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 1em;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
}

#resetAll:hover{
    background-color: rgb(255, 87, 87);
    padding: 1.1em;
}

#resetAll:active{
    background-color: rgb(117, 0, 0);
    padding: 0.9em;
}