*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 45px;
}

#content{
    display: flex;
    justify-content: center;
}