*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);
    font-family: "Space Mono", monospace;
}

:root{
    --bg-color: #000080;
    --bold-text: #ffffff;
    --task-title-text: #e3e3e3;
    --normal-text: #cecece;
    --high: red;;
    --medium: orange;
    --low: yellow;
}

h1{
    display: inline-flexbox;
    justify-self: center;
    font-weight: 700;
    font-size: 5rem;
    color: var(--bold-text);
}

h1:hover{
    font-size: 5.2rem;
    font-weight: 900;
}

#userInput{
    display: flex;
    margin: 1em;
    gap: 0.5em;
}

#userInput > form > input,
#userInput > form > button,
#deleteAll{
    border: 0.2rem solid white;
    padding: 0.2em;
    font-size: 1rem;
}

#userInput > form >input{
    background-color: rgb(18, 0, 71);
    color: white;
}

#userInput > form >input::placeholder{
    color: white;
}

#userInput > form > button{
    background-color: rgb(21, 255, 0);
}

#userInput > form button:hover,
#deleteAll:hover{
    font-size: 1.05rem;
    font-weight: 600;
}

#userInput > form button:active,
#deleteAll:active{
    font-size: 0.95rem;
}


#userInput > form > button:hover{
    background-color: rgb(18, 212, 1);
    
}

#userInput > form > button:active{
    background-color: rgb(15, 177, 0);
}

#deleteAll{
    background-color: red;
    font-weight: bolder;
}

#deleteAll:hover{
    background-color: rgb(255, 87, 87);
}

#deleteAll:active{
    background-color: rgb(117, 0, 0);
}

#content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

#projectContainer{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    user-select: none;
    color: var(--bold-text);
}

#projectContainer .project{
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: white;
}

#projectContainer .project:hover > button:first-of-type{
    color: gray;
    text-decoration: underline gray;
}

#projectContainer .project .delete{
    font-family: Arial, Helvetica, sans-serif;
    width: 1.74em;
    height: 1.74em;
    border: none;
    border-radius: 0.2rem;
    background-color: red;
    font-size: 1rem;
    font-weight: bolder;
}

#projectContainer .project .delete:hover{
    background-color: rgb(255, 87, 87);
}

#projectContainer .project .delete:active,
#deleteAll:active{
    background-color: rgb(117, 0, 0);
}

#projectContainer .project > button:first-of-type:active{
    color: rgb(52, 52, 52);
    text-decoration: underline rgb(52, 52, 52);
}

#projectContainer .project > button:first-of-type{
    border: none;
    color: var(--bold-text);
    font-size: 2rem;
    font-weight: bold
}

#projectContainer .project > button:first-of-type:hover{
    transform: rotate(2deg);
    color: #a9a8a8;
}

#projectContainer .project > button:first-of-type:active{
    color: #5f5f5f;
}

.project img{
    width: 2rem;
    height: auto;
}

.project img:hover{
    width: 2.2rem;
    height: auto;
}

#taskContainer{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    color: var(--normal-text);
    gap: 0.7em;
}

#emptyMessage{
    display: flex;
    font-weight: bolder;
    color: var(--bold-text);
    font-size: 2.8em;
}

#taskContainer > div{
    border: 4px solid var(--normal-text);
    border-radius: 1rem;
    padding: 0.5em; 
}

.task{
    display: flex;
    justify-content: space-between;
}

.task .infoDiv{
    justify-self: flex-start;
}

.task input[type="checkbox"]{
    margin: 2em;
}

.task h2{
    display: inline-flex;
    color: var(--task-title-text);
}

.task h2:hover{
    text-decoration: underline;
}

.task .dateFlexContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.task .dateFlexContainer .date{
    font-size: 1.2rem;
}

.task .high,
.task .medium,
.task .low{
    border: none;
    font-size: 1.3em;
}

.task .high,
.task .dateFlexContainer > .high + .date{
    color: var(--high);
}

.task .high:hover{
    background-color: rgb(255, 129, 129);
}

.task .medium,
.task .dateFlexContainer > .medium + .date{
    color: var(--medium);
}

.task .medium:hover{
    background-color: rgb(255, 182, 129); 
}

.task .low,
.task .dateFlexContainer > .low + .date{
    color: var(--low);
}

.task .low:hover{
    background-color: rgb(253, 255, 129);
}

.task .high:hover,
.task .medium:hover,
.task .low:hover{
    color: black;
    border-radius: 5px;
}

.task .description{
    font-size: 1.25rem;
    color: white;
}

.task.true h2{
    text-decoration: solid line-through 0.4rem;
}

.task.true p,
.task.true button{
    text-decoration: solid line-through 0.4rem;
}

.task.true h2{
    text-decoration-color: var(--task-title-text);
}